<form action=<%= @form_action %> class="form-inline" method="POST">
  <table class="table">
    <tr>
      <td align='right'>tag: </td>
      <td>
        <table>
          <% @tag_set.each do |tag_style, tag_list| %>
            <tr>
              <td style='background-color:<%= tag_style.color %>;' align='right'>
                <%= tag_style.name %>&nbsp;
              </td>
              <td>
                <% tag_list.each do |tag| %>
                  <label style='font-weight:normal'>
                    &nbsp;
                    <input type="checkbox"
                           name="tag_ids[]"
                           value=<%= tag.id %>
                           <%= 'checked' if (@tag_ids && @tag_ids.include?(tag.id)) %>>
                    <%= tag.name %>
                  </label>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td align='right'><span style='color:red;'>*</span>content: </td>
      <td><input type="text" placeholder="Todo item" name="content" style='width:400px' value=<%= @item ? @item.content : '' %>></td>
    </tr>
    <tr>
      <td align='right'>memo: </td>
      <td><textarea class="form-control" name="memo" rows="5"><%= @item ? @item.memo : '' %></textarea></td>
    </tr>
    <tr>
      <td></td>
      <td><button type="submit" class="btn">Post</button></td>
    </tr>
  </table>
</form>