<a href="/post" class="btn btn-primary">Add todo item</a>
<ul id="todo-list" class="unstyled">
  <% @items.each do |item| %>
    <li id="<%= item[:id] %>">
      <span class="item">
        <%= item[:done] ? "<del>#{item[:content]}</del>" : item[:content] %>
      </span>
      <span class="pull-right">
        <form action="/delete/<%= item[:id] %>" method="post">
          <a href="#" class="btn done"><%= item[:done] ? "Not done" : "Done"%></a>
          <a href="/post/<%= item[:id] %>" class="btn btn-warning">Edit</a>
          <input type="submit" class="btn btn-danger" value="Delete", onClick="return confirm('destroy OK?');">
        </form>
      </span>
    </li>
  <% end %>
</ul>
<a href="/post" class="btn btn-primary">Add todo item</a>