<script type="text/javascript">
  <!--//
  $(function() {
    // $('.tag_checkbox').click(function() {
    //   $('#clicked_tag_id').val($(this).val());
    //   document.click_tag.submit();
    // });
    $('#clear_btn').click(function() {
      $('#other_tag_ids').val('');
      $('#with_done_flg').val('true');
      document.click_tag.submit();
    });
    $('.item').balloon({ position: "bottom right" });
  });
  -->
</script>

<a href="/post" class="btn btn-primary">Add todo item</a>

<form action='/' name='click_tag' method="post">
  <input type='hidden' id='other_tag_ids' name='other_tag_ids' value='<%= @target_tag_ids.join(',') %>'>
  <input type='hidden' id='clicked_tag_id' name='clicked_tag_id'>
  <table>
    <% @tag_set.each do |tag_style, tag_list| %>
      <tr>
        <td style='background-color:<%= tag_style.color %>;' align='right'>
          <%= tag_style.name %>&nbsp;
        </td>
        <td>
          <% tag_list.each do |tag| %>
            <label style='font-weight:normal'>
              &nbsp;
              <input type="checkbox"
                     id='<%= tag.id %>'
                     value='<%= tag.id %>'
                     <%= 'checked' if @target_tag_ids.include?(tag.id.to_s) %>
                     onclick='$("#clicked_tag_id").val(<%= tag.id %>);submit();'>
              <%= tag.name %>
            </label>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td>
        <label style='font-weight:normal'>
          &nbsp;
          <input type="checkbox"
                 name="with_done_flg"
                 value='<%= @with_done_flg %>'
                 <%= 'checked' if @with_done_flg %>
                 onclick='submit();'>
          完了済も表示する
        </label>
        <label style='font-weight:normal'>
          &nbsp;
          <span class="btn btn-xs btn-danger" id="clear_btn" <%= 'disabled' if (@target_tag_ids.empty? && !@with_done_flg) %>>
            チェックを外す
          </span>
        </label>
      </td>
    </tr>
  </table>
</form>

<h4><%= @items.size %>件</h4>

<ul id="todo-list" class="list">
  <% @items.each do |item| %>
    <li id="<%= item[:id] %>">
      <% item.item_tags.each do |item_tag| %>
        <span class="btn btn-xs" style='background-color:<%= item_tag.tag.tag_style.color %>;cursor: default' >
          <%= tag_map[item_tag.tag_id] %>
        </span>
      <% end %>
      <span class="item" title="<%= item[:memo] %>">
        <%= item[:done] ? "<del>#{item[:content]}</del>" : item[:content] %>
      </span>
      <span class="pull-right">
        <a href="#" class="btn done"><%= item[:done] ? "Not done" : "Done"%></a>
        <a href="/post/<%= item[:id] %>" class="btn btn-warning">Edit</a>
        <a href="#" class="btn btn-danger delete"onClick="return confirm('destroy OK?');">new Delete</a>
      </span>
    </li>
  <% end %>
</ul>
<a href="/post" class="btn btn-primary">Add todo item</a>