<% if @status_set.size > 0 %>
  <a href="/status/post" class="btn btn-primary">Add status</a>
  <ul id="status-list" class="list">
    <% @status_set.each do |id, status| %>
      <li id="<%= status[:id] %>">
        <span class="status">
          <a href="/status/post/<%= status[:id] %>" class="btn btn-info", style='width:100px;'>
            <%= status[:name] %>
          </a>
        </span>
        ->
        <span class="next_status">
          <% status[:next_ids].split(',').each do |next_id| %>
            <a href="/status/post/<%= next_id %>" class="btn btn-success", style='width:100px;'>
              <%= @status_set[next_id].name %>
            </a>
          <% end %>
        </span>
        <span class="pull-right">
          <form action="/status/delete/<%= status[:id] %>" method="post">
            <a href="/status/post/<%= status[:id] %>" class="btn btn-warning">Edit</a>
            <input type="submit" class="btn btn-danger" value="Delete", onClick="return confirm('destroy OK?');">
          </form>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>

<a href="/status/post" class="btn btn-primary">Add status</a>